@media (max-width: 910px) {
  .header__main-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .header__main-list .header__main-item:last-child {
    width: 50%;
    padding-bottom: 70%;
    margin-top: 10%;
  }
  .header {
    background: url(./img/main_waves.png) no-repeat right center;
    background-position-y: calc(24% + 10vw);
    background-size: 90% 50%;
    margin-bottom: 10%;
  }
  .features__main-list {
    flex-flow: column;
    margin: 0 auto;
    width: 60%;
  }
  .features__main-list::before {
    top: -23%;
    left: 18%;
    padding: 69%;
    transform: rotate(287deg);
  }
  .features__main-list::after {
    padding: 20%;
    top: -6%;
    left: 75%;
  }
  .features_container::after {
    background: none;
  }
  .delicious__main-list {
    flex-flow: column;
    width: 100%;
    gap: 3vw;
  }
  .delicious__main-list .delicious__item:first-child {
    width: 60%;
  }
  .delicious__main-list .delicious__item:last-child .delicious__item-bt-wrap {
    width: 90%;
    margin-top: 2vw;
  }
  .delicious__main-list .delicious__item:last-child {
    width: 80%;
  }
  .delicious__main-list .delicious__item:first-child .delicious__item-wrap .delicious__item-img {
    height: 107%;
    width: 95%;
  }
  .delicious {
    background: url(./img/delicious_bg_small_waves.png) no-repeat;
    background-size: 100% 60%;
    background-position: -10% -15%;
  }
  .delicious__main-list .delicious__item:first-child ::after {
    top: 20%;
    right: -55%;
  }
  .delicious__main-list .delicious__item:last-child .delicious__item-bt p::before {
    left: -5%;
  }
  .delicious__main-list::after {
    background: url(./img/fog_green.png) no-repeat center;
    padding-bottom: 60%;
    width: 65%;
    left: 47%;
    top: 0%;
    background-size: contain;
  }
  .products_slider {
    margin-left: -80%;
    padding-right: 25%;
  }
  .products_title {
    flex-flow: column;
    width: 80%;
  }
  .bt_next::before {
    top: 25%;
  }
  .events_title {
    flex-flow: column;
    width: 80%;
    margin: 0 auto;
    gap: 3vw;
    margin-bottom: 4.3548387097%;
  }
  .events__main-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5vw;
    width: 80%;
    margin: 0 auto;
  }
  .events__main-list .events__main-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 10.6451612903% 0 5.3225806452% 6.5322580645%;
  }
  .events__main-list .events__main-item:nth-child(1) .events__main-bt {
    padding: 4.8387096774% 13.3064516129%;
    width: 50%;
  }
  .events__main-list .events__main-item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10.6451612903% 0 5.3225806452% 6.5322580645%;
  }
  .events__main-list .events__main-item:nth-child(2) .events__main-bt {
    padding: 4.8387096774% 13.3064516129%;
    width: 50%;
  }
  .events__main-list .events__main-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .events__main-list .events__main-item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .events__main-list .events__main-item:nth-child(5) {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .contacts__main {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: column-reverse;
    padding-top: 5vw;
  }
  .contacts__main div:last-child {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
  }
  .contacts {
    background: url(./img/bg_contacts_small.png) no-repeat right;
    background-size: 100% 80%;
    background-position-y: -40%;
  }
  .contacts__main:last-child::before {
    background: url(./img/before_contacts.png) no-repeat center;
    background-size: contain;
    width: 40%;
    height: 30%;
    left: 3%;
    top: 6%;
    z-index: 5;
  }
  .contacts__main .contacts__main-item .contacts__main-contact-item {
    width: 80%;
  }
  .contacts__main .contacts__main-item .contacts__main-contact-item .contacts__main-link {
    flex: 1;
    padding-left: 0.5vw;
  }
  .footer__nav-list-whole {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
  }
  .footer__nav-list-whole .footer__nav-list-inner:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .footer__nav-list-whole .footer__nav-list-inner:nth-child(7) {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-bottom: 5vw;
  }
  .footer__nav-under {
    padding-top: 2%;
  }
  .contacts__main .contacts__main-item::before {
    top: -25%;
  }
  .footer__nav-bt-wrap {
    margin-right: 0;
  }
}/*# sourceMappingURL=media.css.map */