@charset "UTF-8";
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff"), url("../fonts/montserrat-v25-latin-500.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff"), url("../fonts/montserrat-v25-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v25-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-800.woff") format("woff"), url("../fonts/montserrat-v25-latin-800.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-800.svg#Montserrat") format("svg"); /* Legacy iOS */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  color: #161513;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

a {
  text-decoration: none;
  color: #161513;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} /*# sourceMappingURL=reset.css.map */
.products__main-list .products__main-item .products__main-prices .products__main-size, .products__main-list .products__main-item .products__main-feature-sub, .header__main-sub, .nav-list .nav-main {
  font-family: "Montserrat";
  font-weight: 400;
}

.products__main-list .products__main-item .products__main-prices, .products__main-list .products__main-item .products__main-feature, .features__main-list .features__item .features__item-feature-sub, .features__main-list .features__item .features__item-feature {
  font-family: "Montserrat";
  font-weight: 500;
}

.delicious__main-list .delicious__item:last-child .delicious__item-bt p, .header__main-list .header__main-item:first-child .header__main-bt-list .header__main-bt-item {
  font-family: "Montserrat";
  font-weight: 600;
}

.header__main-title {
  font-family: "Montserrat";
  font-weight: 800;
}

.features__main-list .features__item .features__item-img-inner .features__item-img, .header__main-list .header__main-item:last-child .header__main-img, .nav-list .nav-main:first-child .nav-item-img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}

.products__main-list .products__main-item .products__main-img-wrap .products__main-img, .delicious__main-list .delicious__item:first-child .delicious__item-wrap .delicious__item-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.delicious__main-list .delicious__item:last-child .delicious__item-bt:hover, .header__main-list .header__main-item:first-child .header__main-bt-list ._black:hover, .header__main-list .header__main-item:first-child .header__main-bt-list .header__main-bt-item:hover {
  transition: 0.5s;
  opacity: 0.8;
  cursor: pointer;
}

.nav-list .nav-main:hover {
  transition: 0.5s;
  opacity: 0.8;
  color: #237249;
  cursor: pointer;
}

.bt_next::before, .products_slider::after, .products_slider::before, .products_title .main_title_products::before, .delicious__main-list .delicious__item:last-child::before, .delicious__main-list .delicious__item:last-child::after, .delicious__main-list .delicious__item:first-child ::before, .delicious__main-list::after, .features_container::after {
  content: "";
  position: absolute;
}

.content {
  overflow: hidden;
}

._container {
  max-width: 1270px;
  height: 100%;
  width: 100%;
  color: #ffffff;
  margin: 0 auto;
  padding: 0 30px;
}

.wrapper {
  background: #121517;
}

.header {
  background: url(./img/main_waves.png) no-repeat right center;
  background-size: 50% 50%;
  background-position: 100% 60%;
}

.navigation {
  padding-top: 3.8709677419%;
  margin-bottom: 6.4516129032%;
}

.nav-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 5vw;
  z-index: 5;
  position: relative;
}
.nav-list .nav-main {
  color: #d9d9d9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: calc(12px + 0.6vw);
  line-height: 121.0526315789%;
}
.nav-list .nav-main:first-child {
  position: relative;
  padding-bottom: 3.8709677419%;
  width: 20%;
}
.header__main_container {
  max-width: 1240x;
}

.header__main-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  z-index: 5;
  position: relative;
  padding-bottom: 41.935483871%;
}
.header__main-list .header__main-item:first-child {
  flex: 0 1 45.9677419355%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
  gap: 4vw;
}
.header__main-list .header__main-item:first-child::after {
  content: "";
  width: 90%;
  height: 70%;
  background: url(./img/fog_green.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: -17%;
  left: -30%;
  z-index: 1;
  transform: rotate(180deg);
}
.header__main-list .header__main-item:first-child::before {
  content: "";
  width: 90%;
  height: 90%;
  background: url(./img/main_right_bg.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 1;
}
.header__main-list .header__main-item:first-child .header__main-bt-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 0.5vw;
  z-index: 5;
}
.header__main-list .header__main-item:first-child .header__main-bt-list .header__main-bt-item {
  border-radius: 82.834px;
  font-size: calc(14px + 0.7vw);
  line-height: 146%;
  color: inherit;
  letter-spacing: -0.02em;
  border: none;
  padding: 3.5087719298% 0;
  display: block;
  transition: 0.5s;
}
.header__main-list .header__main-item:first-child .header__main-bt-list ._green-bt {
  flex: 0 1 58.4210526316%;
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
}
.header__main-list .header__main-item:first-child .header__main-bt-list ._black {
  flex: 1 1 29.298245614%;
  background: #121517;
}
.header__main-list .header__main-item:first-child .header__main-bt-list ._black:hover {
  border: 0.1px solid #35c66b;
}
.header__main-list .header__main-item:first-child .header__main-awards-list {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: nowrap;
  gap: 7vw;
}
.header__main-list .header__main-item:first-child .header__main-awards-list .header__main-awards-item {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 0.1vw;
}
.header__main-list .header__main-item:first-child .header__main-awards-list .header__main-awards-item .header__main-awards-value {
  color: inherit;
  font-size: calc(40px + 0.7vw);
  line-height: 109%;
}
.header__main-list .header__main-item:first-child .header__main-awards-list .header__main-awards-item .header__main-awards-value span {
  color: #237249;
}
.header__main-list .header__main-item:first-child .header__main-awards-list .header__main-awards-item .header__main-awards-discription {
  font-size: calc(14px + 0.4vw);
  line-height: 144%;
}
.header__main-list .header__main-item:last-child {
  flex: 0 1 37.9032258065%;
  position: relative;
  padding-bottom: 50.6451612903%;
}
.header__main-list .header__main-item:last-child::after {
  content: "";
  width: 143.829787234%;
  height: 100%;
  background: url(./img/cup_bg_right_bottom.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 25%;
  left: -5%;
}
.header__main-list .header__main-item:last-child .header__main-item-discont {
  position: absolute;
  background: url(./img/discont_bg_discont.svg) no-repeat center;
  background-size: cover;
  height: 38.9361702128%;
  width: 38.9361702128%;
  z-index: 5;
  top: -10%;
  right: 0;
}
.header__main-list .header__main-item:last-child::before {
  content: "";
  width: 143.829787234%;
  height: 100%;
  background: url(./img/cup_bg_left.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: -25%;
  left: -40%;
}
.header__main-list .header__main-item:last-child .header__main-img {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
}

.header__main-sub {
  font-size: calc(10px + 0.6vw);
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
}

.header__main-title {
  color: inherit;
  font-size: calc(40px + 1.2vw);
  line-height: 109%;
}
.header__main-title .green {
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.features_container {
  padding: 0 8.2677165354%;
  margin-bottom: 2.3622047244%;
  position: relative;
  z-index: 5;
}
.features_container::after {
  background: url(./img/fog_grey.png) no-repeat;
  background-size: contain;
  padding-bottom: 50%;
  width: 50%;
  left: 54%;
  top: -1%;
}

.features__main-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(264.52deg, #ffffff 4.95%, #e5e5e5 64.19%, #fbfbfb 88.37%);
  border-radius: 46px;
  padding: 3.9805825243% 7.572815534%;
  position: relative;
  margin-top: -40%;
  z-index: 5;
}
.features__main-list::after {
  content: "";
  position: absolute;
  background: url(./img/bg_after__main_feature.png) no-repeat;
  background-size: cover;
  padding: 10%;
  top: -25%;
  left: -10%;
}
.features__main-list::before {
  content: "";
  position: absolute;
  background: url(./img/before_feature.png) no-repeat;
  background-size: contain;
  padding: 25%;
  top: -20%;
  left: -30%;
  transform: rotate(180deg);
}
.features__main-list .features__item {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
  flex: 0 1 28%;
  text-align: center;
}
.features__main-list .features__item .features__item-img-inner {
  background: url(./img/circle_bg_main.png) no-repeat center;
  background-size: cover;
  position: relative;
  padding-bottom: 82.6815642458%;
  padding-left: 1%;
}
.features__main-list .features__item .features__item-feature {
  font-size: calc(16px + 1vw);
  line-height: 163%;
  margin-bottom: 2.2222222222%;
}
.features__main-list .features__item .features__item-feature-sub {
  font-size: calc(10px + 0.6vw);
  line-height: 163%;
}

.delicious {
  background: url(./img/delicious_waves.png) no-repeat;
  background-size: 62% 60%;
  background-position: 100% 120%;
  padding-bottom: 5.1612903226%;
}

.delicious__main-list {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}
.delicious__main-list::after {
  background: url(./img/fog_grey.png) no-repeat;
  background-size: contain;
  padding-bottom: 50%;
  width: 50%;
  left: 5%;
  top: -10%;
}
.delicious__main-list .delicious__item:first-child {
  flex: 0 1 42.1487603306%;
}
.delicious__main-list .delicious__item:first-child .delicious__item-wrap {
  background: url(./img/bg_green_delicious.png) no-repeat bottom left;
  background-size: 90% 90%;
  padding-bottom: 141.1764705882%;
  position: relative;
}
.delicious__main-list .delicious__item:first-child .delicious__item-wrap .delicious__item-img {
  display: block;
  height: 108%;
  z-index: 5;
}
.delicious__main-list .delicious__item:first-child ::after {
  content: "";
  position: absolute;
  background: url(./img/delicious_bg_catch.png) no-repeat;
  background-size: contain;
  width: 48.0392156863%;
  height: 48.0392156863%;
  top: 0;
  right: -5%;
  z-index: 5;
}
.delicious__main-list .delicious__item:first-child ::before {
  background: url(./img/fog_green.png) no-repeat center;
  background-size: contain;
  padding-bottom: 100%;
  width: 100%;
  left: -40%;
  bottom: -30%;
}
.delicious__main-list .delicious__item:last-child {
  flex: 0 1 36.9421487603%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}
.delicious__main-list .delicious__item:last-child::after {
  background: url(./img/fog_grey.png) no-repeat center;
  background-size: contain;
  padding-bottom: 100%;
  width: 100%;
  left: -29%;
  top: 47%;
}
.delicious__main-list .delicious__item:last-child::before {
  background: url(./img/fog_green.png) no-repeat center;
  background-size: contain;
  padding-bottom: 100%;
  width: 100%;
  left: 0%;
  top: -10%;
}
.delicious__main-list .delicious__item:last-child .delicious__item-bt-wrap {
  background: url(./img/delicious_bt_bg.png) no-repeat;
  background-size: cover;
  padding: 22.3713646532% 13.6465324385%;
  text-align: center;
  min-width: 193px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}
.delicious__main-list .delicious__item:last-child .delicious__item-bt {
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  border-radius: 82.834px;
  padding: 4.4742729306% 13.4228187919% 4.4742729306% 20.1342281879%;
  border: none;
  margin: 0 auto;
}
.delicious__main-list .delicious__item:last-child .delicious__item-bt p {
  color: #ffffff;
  font-size: calc(10px + 0.5vw);
  line-height: 146%;
  min-width: 150px;
  position: relative;
  text-align: center;
}
.delicious__main-list .delicious__item:last-child .delicious__item-bt p::before {
  content: "";
  position: absolute;
  background: url(./img/delicious_bt_play.svg) no-repeat center left;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: -20%;
}

.products_title {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 5vw;
  margin-bottom: 5.0806451613%;
}
.products_title .main_title_products {
  flex: 0 1 30%;
  position: relative;
}
.products_title .main_title_products::before {
  background: url(./img/fog_green.png) no-repeat center;
  background-size: contain;
  padding-bottom: 85%;
  width: 89%;
  left: 15%;
  top: -65%;
}
.products_title .main_sub_products {
  flex: 0 1 40%;
}

.products__main-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__main-list .products__main-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  flex: 0 1 22%;
  color: #ffffff;
  letter-spacing: -0.02em;
  gap: 1vw;
  border: 0.1px solid #237249;
  border-radius: 29px;
  padding: 10px;
}
.products__main-list .products__main-item .products__main-img-wrap {
  background: url(./img/circle_bg_main.png) no-repeat center;
  background-size: contain;
  position: relative;
  padding-bottom: 134.6368715084%;
  width: 100%;
}
.products__main-list .products__main-item .products__main-feature {
  font-size: calc(15px + 1.5vw);
  line-height: 163%;
  color: inherit;
  margin-top: -30px;
}
.products__main-list .products__main-item .products__main-feature-sub {
  font-size: calc(10px + 0.9vw);
  line-height: 163%;
  color: #d9d9d9;
  text-align: center;
}
.products__main-list .products__main-item .products__main-prices {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 1vw;
  font-size: calc(15px + 0.9vw);
  line-height: 163%;
  color: #ffffff;
}
.products__main-list .products__main-item .products__main-prices .products__main-size {
  font-size: calc(10px + 0.9vw);
  line-height: 163%;
  color: #d9d9d9;
}

.products_slider {
  margin-left: -20%;
  max-width: 1200px;
  padding-right: 8.3333333333%;
  position: relative;
  z-index: 5;
  margin-bottom: 8.064516129%;
}
.products_slider::before {
  background: url(./img/fog_green.png) no-repeat center;
  background-size: contain;
  padding-bottom: 50%;
  width: 50%;
  left: 55%;
  top: -10%;
}
.products_slider::after {
  background: url(./img/fog_grey.png) no-repeat center;
  padding-bottom: 50%;
  width: 50%;
  left: 9%;
  top: -5%;
  opacity: 0.4;
}

.bt_next {
  border: 1px solid green;
  position: relative;
}
.bt_next::before {
  background: url(./img/fog_green.png) no-repeat center;
  background-size: contain;
  padding-bottom: 150%;
  width: 150%;
  left: -20%;
  top: 35%;
}

.products_bt_nxt {
  width: 4rem;
  height: 4rem;
}

.events_title {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row-reverse;
  width: 70%;
  margin-left: auto;
  margin-bottom: 4.3548387097%;
}
.events_title .main_sub_events {
  flex: 0 1 60%;
}

@media (max-width: 910px) {
  .nav-list .nav-main, .header__main-sub, .products__main-list .products__main-item .products__main-feature-sub, .products__main-list .products__main-item .products__main-prices .products__main-size {
    font-family: "Montserrat";
    font-weight: 400;
  }
  .features__main-list .features__item .features__item-feature, .features__main-list .features__item .features__item-feature-sub, .products__main-list .products__main-item .products__main-feature, .products__main-list .products__main-item .products__main-prices {
    font-family: "Montserrat";
    font-weight: 500;
  }
  .header__main-list .header__main-item:first-child .header__main-bt-list .header__main-bt-item, .delicious__main-list .delicious__item:last-child .delicious__item-bt p {
    font-family: "Montserrat";
    font-weight: 600;
  }
  .header__main-title {
    font-family: "Montserrat";
    font-weight: 800;
  }
  .nav-list .nav-main:first-child .nav-item-img, .header__main-list .header__main-item:last-child .header__main-img, .features__main-list .features__item .features__item-img-inner .features__item-img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
  }
  .delicious__main-list .delicious__item:first-child .delicious__item-wrap .delicious__item-img, .products__main-list .products__main-item .products__main-img-wrap .products__main-img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header__main-list .header__main-item:first-child .header__main-bt-list .header__main-bt-item:hover, .header__main-list .header__main-item:first-child .header__main-bt-list ._black:hover, .delicious__main-list .delicious__item:last-child .delicious__item-bt:hover {
    transition: 0.5s;
    opacity: 0.8;
    cursor: pointer;
  }
  .nav-list .nav-main:hover {
    transition: 0.5s;
    opacity: 0.8;
    color: #237249;
    cursor: pointer;
  }
  .features_container::after, .delicious__main-list::after, .delicious__main-list .delicious__item:first-child ::before, .delicious__main-list .delicious__item:last-child::after, .delicious__main-list .delicious__item:last-child::before, .products_title .main_title_products::before, .products_slider::before, .products_slider::after, .bt_next::before {
    content: "";
    position: absolute;
  }
  .header__main-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .header__main-list .header__main-item:last-child {
    width: 50%;
    padding-bottom: 70%;
    margin-top: 10%;
  }
  .header {
    background: url(./img/main_waves.png) no-repeat right center;
    background-position-y: calc(24% + 10vw);
    background-size: 90% 50%;
    margin-bottom: 10%;
  }
  .features__main-list {
    flex-flow: column;
    margin: 0 auto;
    width: 60%;
  }
  .features__main-list::before {
    top: -23%;
    left: 18%;
    padding: 69%;
    transform: rotate(287deg);
  }
  .features__main-list::after {
    padding: 20%;
    top: -6%;
    left: 75%;
  }
  .features_container::after {
    background: none;
  }
  .delicious__main-list {
    flex-flow: column;
    width: 100%;
    gap: 3vw;
  }
  .delicious__main-list .delicious__item:first-child {
    width: 60%;
  }
  .delicious__main-list .delicious__item:last-child .delicious__item-bt-wrap {
    width: 90%;
    margin-top: 2vw;
  }
  .delicious__main-list .delicious__item:last-child {
    width: 80%;
  }
  .delicious__main-list .delicious__item:first-child .delicious__item-wrap .delicious__item-img {
    height: 107%;
    width: 95%;
  }
  .delicious {
    background: url(./img/delicious_bg_small_waves.png) no-repeat;
    background-size: 100% 60%;
    background-position: -10% -15%;
  }
  .delicious__main-list .delicious__item:first-child ::after {
    top: 20%;
    right: -55%;
  }
  .delicious__main-list .delicious__item:last-child .delicious__item-bt p::before {
    left: -5%;
  }
  .delicious__main-list::after {
    background: url(./img/fog_green.png) no-repeat center;
    padding-bottom: 60%;
    width: 65%;
    left: 47%;
    top: 0%;
    background-size: contain;
  }
  .products_slider {
    margin-left: -80%;
    padding-right: 25%;
  }
  .products_title {
    flex-flow: column;
    width: 80%;
  }
  .bt_next::before {
    top: 25%;
  }
}/*# sourceMappingURL=style.css.map */