%font_400 {
	font-family: "Montserrat";
	font-weight: 400;
}

%font_500 {
	font-family: "Montserrat";
	font-weight: 500;
}

%font_600 {
	font-family: "Montserrat";
	font-weight: 600;
}

%font_800 {
	font-family: "Montserrat";
	font-weight: 800;
}

@mixin flex($flow, $align, $justify, $wrap) {
	display: flex;
	flex-flow: $flow;
	align-items: $align;
	justify-content: $justify;
	flex-wrap: $wrap;
}

@mixin font_size($size, $line-height) {
	font-size: $size;
	line-height: $line-height;
}

%adapt_img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	position: absolute;
}

%adapt_img_big {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

%hover_bt {
	transition: 0.5s;
	opacity: 0.8;
	cursor: pointer;
}

%hover_link {
	transition: 0.5s;
	opacity: 0.8;
	color: #237249;
	cursor: pointer;
}

%before_contain {
	content: "";
	position: absolute;
	background-size: contain;
}

%before_cover {
	content: "";
	position: absolute;
	background-size: cover;
}
